
/*
p,li,h1 {
  color: red;
}
*/

html {
/* font-size: 10px;  px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
/* font-family: 'Tangerine','Maiandra GD'; cela devrait être le reste du résultat obtenu à partir de Google fonts*/
}


p, li {
/* font-size: 40px;   */ 
/* line-height: 1;   donne une taille de ligne */
/* letter-spacing: 1px;  donne un espacement de caractère entre les lettres */
}


/* --- Changer la couleur de fond de la page --- */
html {
  background-color: #E6E6FA; /* couleur - lavende */
}

/* --- Comment mettre en forme le corps de la page (<body>) --- */
body {
  width: 600px; /* impose une largeur de 600 pixels pour le corps de la page.*/
  margin: 0 auto; /* 0: pour le haut et le bas -/- auto divise l'espace horizontal disponible en parts égales entre la gauche et la droite. */
  background-color: #E9967A; /* couleur - darksalmon */
  padding: 20px 20px 20px 20px; /* crée un espace autour du contenu */
  border: 5px solid black; /* utilise une bordure pleine, large de 5 pixels pour entourer tout le corps de la page */
    
  font-family: 'Maiandra GD','Tangerine', serif;
  font-size: 20px;
/*  text-shadow: 4px 4px 4px #aaa;*/
}

/* --- Positionner le titre et le mettre en forme --- */
h1 {
  margin: 0; /* enlève le style css par défaut appliqué à l'élément h1 */ 
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 50px;
  text-align: center;
}

/* Centrer l'image */
img {
/* les images sont des éléments inline, ce qui signifie qu'on ne peut pas leur appliquer ces valeurs d'espacement. */
    
  display: block; /* Pour pouvoir appliquer des marges sur l'image comme pour un bloc, on utilise display: block; pour que l'image se comporte comme un élément de bloc. */
    
  margin: 0 auto;
}

/* classe de la balise p -/- mise en forme */
.lorem {
  background-color: #BDB76B;
  width: 500px;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
}